# Dataset - too large for GitHub (110MB)
data/raw/given.csv

# Large processed files - use parquet instead
data/processed/clean_violations.csv

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
